@font-face {
  font-family: "Bahij_TheSansArabic";
  font-weight: 100;
  src: local("Bahij_TheSansArabic"),
    url("../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-SemiLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "Bahij_TheSansArabic";
  font-weight: 300;
  src: local("Bahij_TheSansArabic"),
    url("../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "Bahij_TheSansArabic";
  font-weight: 500;
  src: local("Bahij_TheSansArabic"),
    url("../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Plain.ttf")
      format("truetype");
}

@font-face {
  font-family: "Bahij_TheSansArabic";
  font-weight: 700;
  src: local("Bahij_TheSansArabic"),
    url("../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Bahij_TheSansArabic";
  font-weight: 900;
  src: local("Bahij_TheSansArabic"),
    url("../../fonts/Bahij_TheSansArabic/Bahij_TheSansArabic-Bold.ttf")
      format("truetype");
}

* {
  font-family: "Bahij_TheSansArabic";
  // font-weight: 500 !important;
}
