@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./base";
@import "./global";

a{
    color: inherit !important;
    text-decoration: none;
}
.object-fit-cover{
    object-fit: cover;
}